<main>
  <img src="../../../assets/image-1.jpg" alt="Desenvolvendo Aplicações Web" width="380px" height="200px">
  <span>Janeiro 11, 2022</span>
  <h2><a href="#" target="_blank">Mercado aquecido para Desenvolvedores Front-end</a></h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur officiis adipisci recusandae in expedita. Minus reiciendis nostrum molestiae deleniti voluptatum impedit, nesciunt error veniam earum esse distinctio quos. Blanditiis, repellat.
  </p>
</main>