header{
  display: flex;
  justify-content: center;
}

.articles{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
}

@media screen and (max-width: 1300px) {
  .articles{
    flex-direction: column;
  }
}